.Badge{
    font-size: 8px;
    padding: 5px 10px;
    border-radius: 10px;
    background-color: #1DA1F2;
    display: inline-block;
    color: white;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 600;
}