.NavItem{
    display: inline-flex;
    height: 49px;
    align-items: center;
    padding: 5px 15px;
    font-weight: 500;
}
.NavItem:hover{
    background-color: #f4f4f4;
    cursor: pointer;
}
.NavItem .content{
    display: flex;
    justify-content: center;
    align-items: center;
}
.NavItem div:nth-child(2){
    margin-left: 10px;
}
