.Button{
    outline: none;
    border: none;
    padding: 7px 25px;
    color: white;
    border-radius: 10px;
    transition: font-weight 0.3s ease;
}
.Button:hover{
    cursor: pointer;
    font-weight: 600;
}